<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="post">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="title" placeholder="Title" autofocus>
                        </div>
                        <div class="mb-3">
                            <input type="url" name="url" class="form-control" placeholder="URL">
                        </div>
                        <div class="mb-3">
                            <textarea name="description" rows="2" class="form-control" placeholder="Description"></textarea>
                        </div>
                        <div class="mb-3">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-success btn-block">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>